@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: Poppins, Inter, Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #f9f1e7), color-stop(0, #fcf8f3));
  background: linear-gradient(90deg, #f9f1e7 65%, #fcf8f3 0);
}
.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72.5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  margin-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

.list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.list-header__item {
  display: inline-block;
}
.list-header__item:hover .dropdown-list {
  display: block;
}
.list-header__link {
  margin-right: 40px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.list-header__link:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.list-header__link_dropdown-list {
  position: relative;
}
.list-header__link_dropdown-list::after {
  content: url(/images/header/list-header/arrow-down.svg);
  position: absolute;
  top: 2px;
  right: -25px;
}

.dropdown-list {
  background-color: #fffbfb;
  display: none;
  position: absolute;
  top: 30px;
  min-width: 160px;
  z-index: 1;
}
.dropdown-list__item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.dropdown-list__item:hover {
  background-color: #ddd;
}
.dropdown-list__link {
  text-decoration: none;
  color: black;
}

.search-form {
  width: 473px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.search-form__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.search-form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 150%;
}
.search-form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 150%;
}
.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
}
.search-form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
}
.search-form__input::placeholder {
  font-size: 14px;
  line-height: 150%;
}
.search-form__icon {
  stroke: black;
  vertical-align: middle;
}
.search-form__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}
.search-form__button {
  border: none;
  outline: none;
  background: none;
  width: 45px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.profile {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__icon {
  margin-right: 40px;
}
.profile__icon_icon1 svg {
  vertical-align: middle;
  fill: none;
  stroke: #262F56;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__icon_icon1 svg:hover {
  fill: red;
  stroke: red;
  -webkit-transition: fill, stroke 0.2 linear;
  transition: fill, stroke 0.2 linear;
}
.profile__icon_icon2 svg {
  vertical-align: middle;
  fill: none;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__icon_icon2 svg:hover {
  fill: black;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-slider {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #f9f1e7), color-stop(0, #fcf8f3));
  background: linear-gradient(90deg, #f9f1e7 65%, #fcf8f3 0);
  position: relative;
}
.main-slider__body {
  overflow: hidden;
}
.main-slider__nav {
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-slider__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  width: 120px;
  margin-top: -45px;
  margin-bottom: 45px;
}
.main-slider__point {
  margin-right: 20px;
  cursor: pointer;
}
.main-slider__point:nth-last-child(-n+1) {
  margin-right: 0px;
}
.main-slider__point svg {
  vertical-align: middle;
}
.main-slider__btns {
  margin-left: auto;
  background: none;
  border: none;
  outline: none;
}
.main-slider__slider {
  margin: 0px auto;
}
.main-slider__banner {
  position: absolute;
  top: 0px;
}

.main-slider-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btns {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btns__btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}
.btns__btn_prev {
  margin-right: 8px;
}
.slider {
  width: 934px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__slide {
  position: relative;
  margin-right: 32px;
}
.slider__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__slide-description {
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 24px;
}

.slide-description {
  width: 294px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.slide-description__link {
  text-decoration: none;
  color: #3A3A3A;
}
.slide-description__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 4px;
}
.slide-description__text {
  color: #616161;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.slide-description__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}
.slide-description__arrow {
  position: absolute;
  z-index: 100;
  bottom: 0px;
  right: 0px;
}

.banner {
  padding: 75px 60px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 330px;
  height: 385px;
}
.banner__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
  margin-bottom: 16px;
}
.banner__text {
  font-size: 18px;
  line-height: 27px;
  color: #898989;
  margin-bottom: 48px;
}
.banner__btn {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  text-decoration: none;
  background: #E89F71;
  text-align: center;
  padding: 24px 0px;
  width: 100%;
}

.benefits {
  background: white;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 87px;
}
.benefits__benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.benefit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefit__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.benefit__text {
  font-size: 16px;
  line-height: 24px;
  color: #898989;
}
.benefit__icon {
  margin-right: 22px;
}