@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: Poppins, Inter, Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

a {
  cursor: pointer;
}

@media (max-width: 1200px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: none;
  }
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #f9f1e7), color-stop(0, #fcf8f3));
  background: linear-gradient(90deg, #f9f1e7 65%, #fcf8f3 0);
}
.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72.5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .header__body {
    padding: 50px 15px;
  }
}
@media (max-width: 700px) {
  .header__body {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0px;
    top: -100%;
    display: block;
    background-color: #fae7be;
    z-index: 11;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .header__body.active {
    left: 0px;
    top: 0px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    overflow: auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .header__nav {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0px;
    left: -100%;
    display: block;
    background-color: #fae7be;
    z-index: 11;
    padding: 225px 90px 0px 120px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 550px;
    height: 100%;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .header__nav.active {
    left: 0px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    overflow: auto;
  }
}
@media (max-width: 700px) {
  .header__nav {
    position: static;
    padding: 0px;
    background: none;
    width: auto;
    padding: 0px;
  }
}
.header__burger {
  cursor: pointer;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  z-index: 12;
  width: 45px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__burger::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__burger span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline;
  position: absolute;
  top: 14px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 1200px) {
  .header__burger {
    display: block;
  }
}
@media (max-width: 700px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header__burger.active {
    position: fixed;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 15px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
.header__logo {
  margin-right: -80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 1200px) {
  .header__logo {
    margin-left: 85px;
    margin-right: 40px;
  }
}
@media (max-width: 700px) {
  .header__logo {
    display: none;
  }
}
.header__list {
  position: relative;
}
@media (max-width: 1200px) {
  .header__list {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0px;
    left: -100%;
    z-index: 11;
    padding: 110px 0px 0px 120px;
  }
}
@media (max-width: 900px) {
  .header__list {
    position: relative;
    padding: 0px;
    left: 0px;
  }
}
@media (max-width: 700px) {
  .header__list {
    position: relative;
    padding-top: 80px;
    padding-left: 5px;
    left: 0px;
  }
}
@media (max-width: 1200px) {
  .header__list.active {
    left: 0px;
  }
}
@media (max-width: 900px) {
  .header__search-form {
    position: absolute;
    top: 115px;
    left: 105px;
  }
}
@media (max-width: 900px) {
  .header__search-form {
    position: absolute;
    top: 60px;
    left: 20px;
  }
}
.logo__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

.list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .list-header {
    display: block;
    width: 45%;
    height: 100%;
    background-color: #fae7be;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
}
@media (max-width: 900px) {
  .list-header {
    background: none;
  }
}
@media (max-width: 1200px) {
  .list-header.active {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    overflow: auto;
  }
}
@media (max-width: 900px) {
  .list-header.active {
    overflow: visible;
  }
}
.list-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-header__arrow-down {
  width: 30px;
  height: 30px;
  display: none;
}
@media (max-width: 1200px) {
  .list-header__arrow-down {
    display: block;
  }
  .list-header__arrow-down:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
  }
}
.list-header__item {
  display: block;
}
.list-header__item:hover .dropdown-list {
  display: block;
}
@media (max-width: 1200px) {
  .list-header__item {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}
.list-header__link {
  margin-right: 40px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.list-header__link:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.list-header__link_dropdown-list {
  position: relative;
}
.list-header__link_dropdown-list::after {
  content: url(/images/header/list-header/arrow-down.svg);
  position: absolute;
  top: 2px;
  right: -25px;
}
@media (max-width: 1200px) {
  .list-header__link_dropdown-list::after {
    content: "";
  }
}

.dropdown-list {
  background-color: #fffbfb;
  display: none;
  position: absolute;
  top: 30px;
  min-width: 160px;
  z-index: 5;
}
@media (max-width: 1200px) {
  .dropdown-list {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background: none;
    top: 0px;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
  }
}
@media (max-width: 1200px) {
  .dropdown-list.active {
    max-height: 400px;
    -webkit-transition: max-height 0.8s ease;
    transition: max-height 0.8s ease;
  }
}
.dropdown-list__item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.dropdown-list__item:hover {
  background-color: #ddd;
}
@media (max-width: 1200px) {
  .dropdown-list__item {
    padding: 5px 0px;
  }
  .dropdown-list__item:hover {
    background: none;
    opacity: 0.6;
  }
}
.dropdown-list__link {
  text-decoration: none;
  color: black;
}

.search-form {
  width: 473px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media (max-width: 900px) {
  .search-form {
    position: absolute;
    width: 360px;
    height: 60px;
  }
}
@media (max-width: 700px) {
  .search-form {
    position: absolute;
    width: 85%;
    height: 40px;
  }
}
.search-form__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 900px) {
  .search-form__input {
    padding: 0px 10px 0px 55px;
  }
}
@media (max-width: 700px) {
  .search-form__input {
    padding: 0px 10px 0px 45px;
  }
}
.search-form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
}
.search-form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 21px;
}
.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
}
.search-form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
}
.search-form__input::placeholder {
  font-size: 14px;
  line-height: 21px;
}
@media (max-width: 900px) {
  .search-form__input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .search-form__input::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .search-form__input:-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .search-form__input::-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .search-form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 700px) {
  .search-form__input::-webkit-input-placeholder {
    font-size: 17px;
  }
  .search-form__input::-moz-placeholder {
    font-size: 17px;
  }
  .search-form__input:-ms-input-placeholder {
    font-size: 17px;
  }
  .search-form__input::-ms-input-placeholder {
    font-size: 17px;
  }
  .search-form__input::placeholder {
    font-size: 17px;
  }
}
.search-form__icon {
  stroke: black;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .search-form__icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 700px) {
  .search-form__icon {
    width: 25px;
    height: 25px;
  }
}
.search-form__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}
.search-form__button {
  border: none;
  outline: none;
  background: none;
  width: 45px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}
@media (max-width: 900px) {
  .search-form__button {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 700px) {
  .search-form__button {
    width: 40px;
    height: 40px;
  }
}

.profile {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__icon {
  margin-right: 40px;
}
.profile__icon_icon1 svg {
  vertical-align: middle;
  fill: none;
  stroke: #262F56;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__icon_icon1 svg:hover {
  fill: red;
  stroke: red;
  -webkit-transition: fill, stroke 0.2 linear;
  transition: fill, stroke 0.2 linear;
}
.profile__icon_icon2 svg {
  vertical-align: middle;
  fill: none;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__icon_icon2 svg:hover {
  fill: black;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 700px) {
  .profile {
    display: none;
  }
}

.header-mobile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
  padding: 20px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}
@media (max-width: 700px) {
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-mobile__burger {
  cursor: pointer;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  z-index: 12;
  width: 45px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-mobile__burger::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__burger::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__burger span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline;
  position: absolute;
  top: 14px;
  left: 0px;
  background: black;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 700px) {
  .header-mobile__burger {
    display: block;
  }
}
.header-mobile__burger.active {
  position: fixed;
}
.header-mobile__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 15px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__logo {
  max-width: 200px;
  margin: 0px auto;
}

.profile-mobile {
  z-index: 12;
  padding: 5px 0px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fae7be;
}
.profile-mobile__icon {
  margin-right: 40px;
}
.profile-mobile__icon_icon1 svg {
  vertical-align: middle;
  fill: none;
  stroke: #262F56;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile-mobile__icon_icon1 svg:hover {
  fill: red;
  stroke: red;
  -webkit-transition: fill, stroke 0.2 linear;
  transition: fill, stroke 0.2 linear;
}
.profile-mobile__icon_icon2 svg {
  vertical-align: middle;
  fill: none;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile-mobile__icon_icon2 svg:hover {
  fill: black;
  -webkit-transition: fill 0.2 linear;
  transition: fill 0.2 linear;
}
.profile-mobile__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 700px) {
  .profile-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-slider {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #f9f1e7), color-stop(0, #fcf8f3));
  background: linear-gradient(90deg, #f9f1e7 65%, #fcf8f3 0);
  position: relative;
}
.main-slider__body {
  overflow: hidden;
}
.main-slider__nav {
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-slider__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin: 0px auto;
  width: 120px;
  margin: -35px auto 45px;
}
@media (max-width: 1200px) {
  .main-slider__points {
    margin: -35px auto 25px;
  }
}
@media (max-width: 900px) {
  .main-slider__points {
    margin: -35px 200px 25px auto;
  }
}
@media (max-width: 500px) {
  .main-slider__points {
    gap: 15px;
    margin: -25px 200px 10px auto;
  }
}
.main-slider__btns {
  margin-left: auto;
  background: none;
  border: none;
  outline: none;
}
.main-slider__slider {
  margin: 0px auto;
}
.main-slider__banner {
  position: absolute;
  top: 0px;
  z-index: 4;
}
@media (max-width: 700px) {
  .main-slider__banner {
    display: none;
  }
}
.main-slider .swiper {
  overflow: hidden;
  width: 934px;
}
@media (max-width: 1200px) {
  .main-slider .swiper {
    width: 800px;
    height: auto;
  }
}
@media (max-width: 900px) {
  .main-slider .swiper {
    width: 680px;
    height: auto;
  }
}
@media (max-width: 700px) {
  .main-slider .swiper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
}
.main-slider .swiper-pagination-custom, .main-slider .swiper-pagination-fraction, .main-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  width: 120px;
}
.main-slider .swiper-pagination-bullets {
  position: relative;
}
.main-slider .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 11px;
  height: 11px;
  background-color: #D8D8D8;
  opacity: 1;
  vertical-align: middle;
  gap: 20px;
}
@media (max-width: 500px) {
  .main-slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.main-slider .swiper-pagination-bullet-active {
  background: radial-gradient(circle closest-side, #e89f71 5px, #f9f1e7 6px, #f9f1e7 12px, #e89f71 13px);
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.main-slider-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btns {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btns__btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
  width: 48px;
  height: 48px;
}
.btns__btn:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
}
@media (max-width: 500px) {
  .btns__btn {
    width: 40px;
    height: 40px;
  }
}
.btns__btn_prev {
  margin-right: 8px;
}
.slider__slide {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__slide-description {
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 24px;
}
@media (max-width: 900px) {
  .slider__slide-description {
    right: 20px;
    bottom: 20px;
  }
}
@media (max-width: 600px) {
  .slider__slide-description {
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 500px) {
  .slider__slide-description {
    display: none;
  }
}

.slide-description {
  width: 294px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  overflow: visible;
}
.slide-description:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
@media (max-width: 900px) {
  .slide-description {
    width: 200px;
  }
}
@media (max-width: 700px) {
  .slide-description {
    width: 170px;
  }
}
@media (max-width: 600px) {
  .slide-description {
    width: 150px;
  }
}
.slide-description__link {
  text-decoration: none;
  color: #3A3A3A;
}
.slide-description__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 4px;
}
@media (max-width: 900px) {
  .slide-description__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 700px) {
  .slide-description__title {
    font-size: 20px;
    line-height: 23px;
  }
}
.slide-description__text {
  color: #616161;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .slide-description__text {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 700px) {
  .slide-description__text {
    font-size: 11px;
    line-height: 15px;
  }
}
.slide-description__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}
@media (max-width: 900px) {
  .slide-description__price {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (max-width: 700px) {
  .slide-description__price {
    font-size: 14px;
    line-height: 21px;
  }
}
.slide-description__arrow {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  right: 0px;
}

.banner {
  padding: 75px 60px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 330px;
  height: 385px;
}
@media (max-width: 1200px) {
  .banner {
    width: 280px;
    height: 325px;
    padding: 55px 45px;
  }
}
@media (max-width: 900px) {
  .banner {
    width: 210px;
    height: 235px;
    padding: 50px 40px;
  }
}
.banner__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .banner__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 900px) {
  .banner__title {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 13px;
  }
}
.banner__text {
  font-size: 18px;
  line-height: 27px;
  color: #898989;
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .banner__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 37px;
  }
}
@media (max-width: 900px) {
  .banner__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }
}
.banner__btn {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  text-decoration: none;
  background: #E89F71;
  text-align: center;
  padding: 24px 0px;
  width: 100%;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
}
.banner__btn:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
}
@media (max-width: 1200px) {
  .banner__btn {
    padding: 17px 0px;
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .banner__btn {
    font-size: 14px;
    padding: 10px 0px;
  }
}

.benefits {
  background: white;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 87px;
}
@media (max-width: 1200px) {
  .benefits {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .benefits {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .benefits {
    max-width: 500px;
    margin: 40px auto;
  }
}
@media (max-width: 500px) {
  .benefits {
    max-width: 350px;
    margin-bottom: 60px;
  }
}
@media (max-width: 440px) {
  .benefits {
    max-width: 300px;
  }
}
.benefits__benefit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 900px) {
  .benefits__benefit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 40px 20px 40px;
  }
}
@media (max-width: 700px) {
  .benefits__benefit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 200px;
  }
}
@media (max-width: 500px) {
  .benefits__benefit {
    width: 150px;
    padding: 0px 0px 20px 0px;
  }
}

.benefit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .benefit {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media (max-width: 700px) {
  .benefit {
    display: block;
  }
}
.benefit__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 700px) {
  .benefit__title {
    font-size: 15px;
    line-height: 22px;
  }
}
.benefit__text {
  font-size: 16px;
  line-height: 24px;
  color: #898989;
}
@media (max-width: 700px) {
  .benefit__text {
    font-size: 14px;
    line-height: 21px;
  }
}
.benefit__icon {
  margin-right: 22px;
  width: 51px;
  height: 51px;
}
@media (max-width: 700px) {
  .benefit__icon {
    width: 43px;
    height: 43px;
    margin: 0px auto;
  }
}
@media (max-width: 500px) {
  .benefit__icon {
    margin: 0px 20px 0px;
  }
}